fastapi
uvicorn[standard]
sqlalchemy
alembic
pytest
psycopg[binary]
pydantic-settings
email-validator
numpy
pillow
tensorflow
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.3
python-multipart
httpx
slowapi
